body{
  background-color: rgb(236, 250, 255);
  color: black;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.balance-card{
  background-color: rgb(30, 146, 30);
  padding: 25px 20px;
  width: 350px;
  border-radius: 20px;
  margin-bottom: 15px;
}

span{
  color: white;
  font-size: 2.5rem;
}

label{
  color: white;
  font-size: small;
}

.expense-card{
  background-color: rgb(255, 76, 76);
  padding: 25px 20px;
  width: 350px;
  border-radius: 20px;
}

.expense-layout{
  background-color: rgb(241, 213, 213);
  padding: 10px 15px 20px 15px;
  border-radius: 15px;
  width: 360px;
}

.income-layout{
  background-color: rgb(213, 241, 214);
  padding: 10px 15px 20px 15px;
  border-radius: 15px;
  width: 360px;
}

.expense-button{
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  width: 340px;
}

.income-button{
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  width: 340px;
}

.text-box{
  border: none;
  padding: 7px 10px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  width: 320px;
  outline: none;
}